<%= form_with(model: sitedpost, local: true) do |form| %>
  <% if sitedpost.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(sitedpost.errors.count, "error") %> prohibited this sitedpost from being saved:</h2>

      <ul>
      <% sitedpost.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :content %>
    <%= form.text_area :content %>
  </div>

  <div class="field">
    <%= form.label :position %>
    <%= form.text_field :position %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
